<!DOCTYPE html>
<html>
  <head>
    <title>Mongo Week</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= msg %></h1>

    <div id="crudMenu">
        <a href="<%= urlAdd %>" >Add</a>
        <a href="<%= urlUpdate %>" >Update</a>
        <a href="<%= urlDelete %>" >Delete</a>
        
    </div>
  </body>
</html>
