<html>
<head>
</head>

<body>
    <form action="/search">
        <label>
            Position Name: <input type="text" name="name" >
            <input type="submit" value="Search">
        </label>

    </form>
</body>
</html>