<html>
    <head>
        <title>Update Location</title>

        <script src="/js/jquery-2.1.1.min.js"></script>
        <script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
        <link rel="stylesheet" type="text/css" href="/stylesheets/jquery-gmaps-latlon-picker.css"/>
        <script src="/js/jquery-gmaps-latlon-picker.js"></script>

    </head>
    <body>
        <h1>Update Position</h1>


        <form action="/update" method="post">
            <label > DELETE <input type="radio" name="action" value="delete"> </label>
            <label > UPDATE <input type="radio" name="action" value="update" checked="checked"> </label>

            <br><br>
            Name: <input type="text" name="name" > <br><br>
            Category: <input type="text" name="category" > <br><br>
            longitude: <input type="text" name="longitude" > <br><br>
            latitude: <input type="text" name="latitude" > <br><br>
            <input type="submit">


            <div id="map">

                <fieldset class="gllpLatlonPicker">
                    <input type="text" class="gllpSearchField">
                    <input type="button" class="gllpSearchButton" value="search">
                    <div class="gllpMap">Google Maps</div>
                    <input type="hidden" class="gllpLatitude" value="20"/>
                    <input type="hidden" class="gllpLongitude" value="20"/>
                    <input type="hidden" class="gllpZoom" value="3"/>
                </fieldset>

            </div>
        </form>
    </body>
    


</html>